@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');  

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body, html {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    height: 100%;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 5px;
    width: 250px;
    text-align: center;
    font-family: 'Outfit', 'Courier New', Courier, monospace;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 7px 4px rgba(0, 0, 0, 0.062);
}

img {
    height: 230px;
    width: 230px;
    margin-top: 10px;
    border-radius: 10px;
}

#p1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 18px;
    padding: 0px 10px;
}

#p2 {
    color: hsl(216, 15%, 48%);
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
}