@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');  


body {
    background-color: hsl(212, 45%, 89%);
    font-size: 1em;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 20px;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 0.3px;
    width: 250px;
    text-align: center;
    font-family: 'Outfit', 'Courier New', Courier, monospace;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 7px 4px rgba(0, 0, 0, 0.062);
}

img {
    height: 230px;
    width: 230px;
    margin-top: 10px;
    border-radius: 10px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1em;
    padding: 0px 10px;
}

p {
    color: hsl(216, 15%, 48%);
    font-size: 0.9em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

footer {
    grid-row: 2/3;
}

@media screen and (min-width: 44em) and (min-height: 63em) {
    main {
        width: 400px;
        height: 650px;
        padding: 30px;
        
    }
    
    img {
        width: 100%;
        height: 55%;
        margin-top: 0;
    }

    h1 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.5em;
    }
}